.error-field {
	border-color: #e47b7b !important;
}

.error {
	color: #f73a3a;
}


.main-content {
	padding: 45px;
}

.sectitle-bold {
	font-size: 20px;
	font-weight: bold;
}

.listing-column1 {
    width: auto;
    height: auto;
    margin: 0;
    color: #757575;
    font-size: 20px;
    font-weight: bold;
}    

.row .gender-label {
	display: block;
    width: 100%;
    height: auto;
    padding: 0 0 5px;
    margin: 0;
    font-size: 12px;
    color: #757575;
    font-weight: 700;
}
.update-button{
	float:right;
	padding-right: 45px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}