.error-field {
	border-color: #e47b7b !important;
}

.error {
	color: #f73a3a;
}

.main-content {
	padding: 45px;
}

.sectitle-bold {
	font-size: 20px;
	font-weight: bold;
}

.listing-column1 {
    width: auto;
    height: auto;
    margin: 0;
    color: #757575;
    font-size: 20px;
    font-weight: bold;
}