<!DOCTYPE html>
<html lang="en" ng-app ="reme">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Re:Me</title>
    <link href="css/styles.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
  <body ng-controller = "remeController" ng-cloak ng-init = "getClientList()">
  	<div class="sidebar">
  		<div class="sidebar-header">
  			<div class="wrapper">
	  			<a href="" class="logo-image"><img src="/images/logo_dark.png" alt="" /></a>
				<span class="logo-name">Re:Me<span>Professional</span></span>
			</div>
  			<a href="" class="sidebar-toggle" onClick="maxminSidebar(event)"><i class="fa fa-angle-double-right"></i></a>
  		</div><!-- sidebar-header -->
  		<ul class="sidebar-menu">
  			<li>
  				<a href="clients" class="detailed active" data-tooltip="Clients">
  					<span class="menu-icon"><i class="fa fa-users"></i></span>
  					<span class="menu-label">Clients</span>
  					<span class="menu-detail">30 Active Clients</span>
				</a>
			</li>
  			<li>
  				<a href="archive" data-tooltip="Archive Discharge">
  					<span class="menu-icon"><i class="fa fa-archive"></i></span>
  					<span class="menu-label">Archive Discharge</span>
				</a>
			</li>
  			<li>
  				<a href="codes" data-tooltip="Activation Codes">
  					<span class="menu-icon"><i class="fa fa-qrcode"></i></span>
  					<span class="menu-label">Activation Codes</span>
				</a>
			</li>
  		</ul>
  	</div><!-- sidebar -->
	<header>
		<div class="wrapper">
			<div class="header-logo">
				<a href="" class="logo-image"><img src="/images/logo.png" alt="" /></a>
				<span class="logo-name">Re:Me</span>
				<span class="logo-description">Therapeutically Designed Music<br/>&amp; Multilingual Spoken Word Guided Interventions</span>
			</div>
			<div class="header-notifier">
				<ul>
					<li><a href="" class="updates new"><i class="fa fa-globe"></i></a></li>
					<li><a href="" class="messages new"><i class="fa fa-comments"></i></a></li>
				</ul>
			</div>
			<div class="header-search">
				<span class="icon"><i class="fa fa-search"></i></span>
				<input type="text" name="" value="" placeholder="Enter keyword to search...">
			</div>
			<div class="header-user">
				<span class="name">{!user.name | uppercase!}</span>
				<figure class="profilepic" style="background-image:url(/images/user-default.png);">
					<img src="/images/user-default.png" alt="" />
				</figure>
				<div class="menu dropdown">
					<a href="" data-toggle="dropdown"><i class="fa fa-list-ul"></i></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="/client-profile">Profile</a></li>
						<li><a href="/clients">Clients</a></li>
						<li><a href="">Change Password</a></li>
						<li><a href="">Settings</a></li>
						<li><a href="#" ng-click="logout()">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="breadcrumbs">
		<ul class="breadcrumbs-list">
			<li>home<i class="fa fa-angle-right"></i></li>
			<li>clients</li>
			<li>profile</li>
		</ul>
	</div>
		<div class="content">
				
				<div class="main-content">
					<h4 class="form-sectitle sectitle-bold"><span>Complete Name</span></h4>
			      	<div class="col-container">
			      		<div class="col6">
			      			<div class="form-group">
								<label for="firstName">First Name</label>
								{!user.first_name | uppercase!}
							</div>
			      		</div>
			      		<div class="col6">
			      			<div class="form-group">
								<label for="lastName">Last Name</label>
								{!user.last_name | uppercase!}
							</div>
			      		</div>
			      	</div>
			      	<h4 class="form-sectitle sectitle-bold"><span>Email Address</span></h4>
			      	<div class="col-container">
			      		<div class="col6">
			      			<div class="form-group">
								<label for="birthMonth">Email</label>
								{!user.email!} &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newClient">new</button>

							</div>
							

			      		</div>
			      		
			      		
			      	</div>
			      	<h4 class="form-sectitle sectitle-bold"><span>Birthdate</span></h4>
			      	<div class="col-container">
			      		<div class="col4">
			      			<div class="form-group">
								<label for="birthMonth">Month</label>
								{!user.birth_date | date:'MMMM'!}
							</div>
			      		</div>
			      		<div class="col4">
			      			<div class="form-group">
								<label for="birthDate">Day</label>
								{!user.birth_date | date:'dd'!}
							</div>
			      		</div>
			      		<div class="col4">
			      			<div class="form-group">
								<label for="birthYear">Year</label>
								{!user.birth_date | date:'yyyy'!}
							</div>
			      		</div>
			      	</div>
			      	<h4 class="form-sectitle sectitle-bold"><span>Other Details</span></h4>
			      	<div class="col-container">
			      		<div class="col4">
			      			<div class="form-group">
								<label for="birthMonth">Gender</label>
								{!user.gender | uppercase!}
							</div>
			      		</div>
			      		<div class="col4">
			      			<div class="form-group">
								<label for="birthDate">Code</label>
								12344
							</div>
			      		</div>
			      		<div class="col4">
			      			<div class="form-group">
								<label for="birthYear">Assigned Group</label>
								Professional
							</div>
			      		</div>
			      	</div>
			</div>
			<div class="col-container">
				<div class="update-button">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newClient">Update</button>
				</div>
				
			</div>
		</div>

	<footer>
		<div class="footer-wrapper">
			<p class="footer-copyright">Copyright © 2017 Re:Me All rights reserved. <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></p>
			<p class="footer-made">Hand-crafted &amp; made with Love.</p>
		</div>
	</footer>



	<!-- MODALS -->
	<div id="newClient" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Update Client</h4>
	        <p class="modal-description">For the client to update his/her profile.</p>
	      </div>
	      <div class="modal-body">
	      	<h4 class="form-sectitle"><span>Complete Name</span></h4>
	      	<form name="update">
	      	<div class="col-container">

	      		<div class="col4">
	      			<div class="form-group">
						<label for="firstName">First Name</label>
						<input type="text" class="form-control"  id="firstName" ng-model = "user.first_name" ng-class="{'error-field' : errors.first_name}" ng-change="requiredValidator(user.first_name, 'first_name')" required>
						<span ng-if="errors.first_name" class="error">{!errors.first_name !}</span>
					</div>
	      		</div>
	      		<div class="col4">
	      			<!-- <div class="form-group">
						<label for="middleName">Middle Name</label>
						<input type="text" class="form-control" id="middleName" ng-model = "user.middle_name">
					</div> -->
	      		</div>
	      		<div class="col4">
	      			<div class="form-group">
						<label for="lastName">Last Name</label>
						<input type="text" class="form-control" id="lastName" name="last_name" ng-model = "user.last_name" ng-class="{'error-field' : errors.last_name}" ng-change="requiredValidator(user.last_name, 'last_name')" required>
						
						<span ng-if="errors.last_name" class="error">{!errors.last_name !}</span>
					</div>
	      		</div>
	      	</div>
	      	<h4 class="form-sectitle"><span>Birthdate</span></h4>
	      	<div class="col-container">
	      		<div class="col4">
	      			<div class="form-group">
						<label for="birthMonth">Month</label>
						<select class="form-control" id="birthMonth" name = "month" ng-class="{'error-field' : errors.birth_date}" >
							<option value="{!$index + 1!}" name="month" ng-repeat="month in months" ng-selected="checkIfSelected($index + 1,user.birth_date | date:'M')"  >{!month!}</option>

						</select>
					</div>
	      		</div>
	      		<div class="col4">
	      			<div class="form-group">
						<label for="birthDate">Day</label>
						<select class="form-control" id="birthDate" name="day" ng-class="{'error-field' : errors.birth_date}">
							<option value="{!day!}" ng-repeat="day in days"  ng-selected="checkIfSelected(day,user.birth_date | date:'dd')"  >{!day!}</option>

						</select>
					</div>
	      		</div>
	      		<div class="col4">
	      			<div class="form-group">
						<label for="birthYear">Year</label>
						<select class="form-control" id="birthYear" ng-class="{'error-field' : errors.birth_date}">
							<option value="{!year!}" name="year"  ng-repeat="year in years"  ng-selected="checkIfSelected(year,user.birth_date | date:'yyyy')">{!year!}</option>
						</select>
					</div>
	      		</div>
	      		<span ng-if="errors.birth_date" class="padded-10 error">{!errors.birth_date !}</span>
	      	</div>
	      	<h4 class="form-sectitle"><span>Other Details</span></h4>
	      	<div class="col-container">
	      		<div class="col4">
	      			<div class="form-group">
						<label for="clientGeneder">Gender</label>
						<select ng-model="user.gender" class="capitalize" ng-options="gender for gender in genders" ng-class="{'error-field' : errors.gender}" ng-change="checkGender(user.gender)" required></select>
						<span ng-if="errors.gender" class="error" >{!errors.gender !}</span>
					</div>
	      		</div>
	      		<div class="col8">
	      			<div class="form-group" ng-hide = "true ">
						<label for="codeAllocate">Code Allocate</label>
						<select class="form-control" id="codeAllocate">
							<option value="">13456789</option>
							<option value="">28765434</option>
							<option value="">33456789</option>
							<option value="">44567890</option>
							<option value="">55654332</option>
						</select>
					</div>
	      		</div>
	      	</div>
	      	<h4 class="form-sectitle" ng-hide = "true "><span>Assign Group</span></h4>
	      	<ul class="form-grouplist" ng-hide = "true ">
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check1">
					<label for="check1"><span>Pellentesque Fauci</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check2">
					<label for="check2"><span>Curabitur Eget</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check3">
					<label for="check3"><span>Tristique Senectus</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check4">
					<label for="check4"><span>Pellentesque Fauci</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check5">
					<label for="check5"><span>Pellentesque Fauci</span></label>
				</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check6">
	      			<label for="check6"><span>Pellentesque Fauci</span></label>
	      		</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check7">
	      			<label for="check7"><span>Pellentesque Fauci</span></label>
	      		</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check8">
	      			<label for="check8"><span>Pellentesque Fauci</span></label>
	      		</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check9">
	      			<label for="check9"><span>Pellentesque Fauci</span></label>
	      		</li>
				<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check10">
	      			<label for="check10"><span>Pellentesque Fauci</span></label>
	      		</li>
	      	</ul>
	      	
	      </div>
	      </form>
	      <div class="modal-footer">
	      	<a href="" class="btn btn-primary" ng-click="updateClient()">Save</a>
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
	      </div>
	    </div><!-- model-content -->




	  <!--   <div class="loading" ng-hide= "loader_hide == true">
		  <p><img src="images/giphy.gif" /></p>
		</div> -->



	</div>
	<script type="text/javascript" src="js/scripts.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/app.js"></script>
	<script src="js/angular/reme_controller.js"></script>
	<script src="js/angular/reme_service.js"></script>

  </body>
</html>