		<div class="page-heading" ng-init = "audio.init()">
			<div class="colleft">
				<div class="canvas">
					<h3 class="searchfilter-title">Search Filter</h3>
					<div class="searchfilter-container">
						<div class="col-container">
							<div class="col12">
								<div class="form-group">
									<label for="">Search</label>
									<input type="text" name="" value="" class="form-control" ng-model="filter_search" id="" placeholder="Enter keyword here..." />
								</div><!-- form-group -->
							</div><!-- col8 -->
						</div><!-- col-container -->
					</div><!-- searchfilter-container -->
				</div><!-- canvas -->
			</div><!-- colleft -->
			<div class="colright">
				<h3 class="page-title">List Of Audio</h3>
				<p class="page-description"></p>
				<a href="" class="btn btn-primary" data-toggle="modal" data-target="#newMusic" ng-click="audio.newAudio()">
					<i class="fa fa-user-plus fa-left-sm"></i>New Audio
				</a>
			</div>
		</div>
		<div class="listing-container listing-codes iconed">
			<div class="listing-header">
				<div class="wrapper">
					<div class="listing-column codes-name"><span>Name<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column small-tabs"><span>Session<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column small-tabs"><span>Language<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column small-tabs"><span>Status<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column small-tabs"><span>URL<i class="fa fa-caret-down fa-right-sm"></i></span></div>
				</div>
			</div>

			<ul class="listing-items">
				<li ng-repeat ="audio in audio.all_audio | filter: {'name' : filter_search}">
					<div class="wrapper">
						<span class="listing-icon"><i class="fa fa-music"></i></span>
						<div class="listing-column codes-name" style="text-transform: uppercase;"><span>{!audio.name!}</span></div>
						<div class="listing-column small-tabs"><span>{!audio.session.name !}</span></div>
						<div class="listing-column small-tabs"><span>{!audio.language.language!}</span></div>
						<div class="listing-column small-tabs"><span>{!audio.status!}</span></div>
						<div class="listing-column small-tabs"><span>{!audio.url !}</span></div>
					</div><!-- wrapper -->
				</li>
				<li >
					<div class="wrapper loader-head">
						<div class="listing-column client-name loader"></div>
						
					</div><!-- wrapper -->
				</li>

				
			</ul>
					
		</div>

	  </div>
	</div>


		<div id="newMusic" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	  <form enctype="multipart/form-data">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">New Audio</h4>
	        <p class="modal-description">Adding new audio.</p>
	      </div>
	      <div class="modal-body">
	      	<div class="alert alert-success fade in" ng-if="audio.success">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Success!</strong> {! client.success !}
		    </div>
	      	<h4 class="form-sectitle"><span>Audio Details</span></h4>
	      	<div class="col-container">
	      		<div class="col6">
	      			<div class="form-group">
						<label for="firstName">Name</label>
						<input type="text" class="form-control" id="firstName" ng-class="{'error-field' : audio.errors.name}" ng-model="audio.new.name" required>
                            <span ng-if="audio.errors.name" class="error">{! audio.errors.name !}</span>
					</div>
	      		</div>
	      		<div class="col6">
	      			<div class="form-group">
						<label for="lastName">File</label>
						<input type="file" class="form-control" id="file" ng-class="{'error-field' : audio.errors.file}" ng-model="music.new.file" required>
                            <span ng-if="audio.errors.file" class="error">{! audio.errors.file !}</span>
					</div>
	      		</div>
	      	</div>
	      	<div class="col-container">
	      		<div class="col6">
	      			<div class="form-group">
						<label for="firstName">Duration</label>
						<select class="form-control" id="aPdateup" name="day" ng-class="{'error-field' : audio.errors.selected_session}" ng-model = "audio.new.selected_session">
							<option value = "" selected="selected">Select</option>
							<option value = "1" >2 Minutes</option>
							<option value = "2" >5 Minutes</option>
							<option value = "3" >20 Minutes</option>

						</select>
                            <span ng-if="audio.errors.selected_session" class="error">{! audio.errors.selected_session !}</span>
					</div>
	      		</div>
	      		<div class="col6">
	      				<label for="firstName">Language</label>
						<select class="form-control" id="aPdateup" name="day" ng-class="{'error-field' : audio.errors.selected_session}" ng-model = "audio.new.language_id">
							<option ng-repeat="language in audio.all_language" value = "{!language.id!}" >{!language.language!}</option>

						</select>
                        <span ng-if="audio.errors.language_id" class="error">{! audio.errors.language_id !}</span>
	      		</div>
	      	</div>
	      		      </div>
	      <div class="modal-footer">
	      	<a href="" class="btn btn-primary" ng-click="audio.submitAudio()">Submit</a>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- model-content -->
	  </form>

	    	


	  </div>
	</div>