<div class="page-heading" ng-init = "subscription.getAllSubscription()">
	<div class="colleft">
		<div class="canvas">
			test
		</div>
	</div>
	<div class="colright">
		<h3 class="page-title">Activation Codes</h3>
		<p class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget orci vitae nunc ornare posuere. Ut ultrices odio mi, non feugiat nunc varius eget. Pellentesque venenatis vitae ipsum interdum fermentum. Integer ornare massa nunc. Integer a leo quam.</p>
		<p class="pull-right">
			<button class="btn btn-default hidden" ng-click="subscription.showAllUsers()" data-target="#updateClient" data-toggle="modal">Add Subscription</button>
		</p>
		<ul class="nav nav-pills">
			<li ng-class = "(code_filter == 'all') ? 'active' : '' " ng-click = "subscription.filterCode('all')"><a>All</a></li>
			<li ng-class = "(code_filter == 'unassigned') ? 'active' : '' " ng-click = "subscription.filterCode('unassigned')"><a>Unassigned</a></li>
			<li ng-class = "(code_filter == 'active') ? 'active' : '' " ng-click = "subscription.filterCode('active')"><a>Active</a></li>
			<li ng-class = "(code_filter == 'expired') ? 'active' : '' " ng-click = "subscription.filterCode('expired')"><a>Expired</a></li>
		</ul>
	</div><!-- colright -->
</div><!-- page-heading -->
<div class="listing-container listing-codes iconed">
	<div class="listing-header">
		<div class="wrapper">
			<div class="listing-column codes-name"><span>Codes<i class="fa fa-caret-down fa-right-sm"></i></span></div>
			<div class="listing-column codes-gendate"><span>purchased date<i class="fa fa-caret-down fa-right-sm"></i></span></div>
			<div class="listing-column codes-client"><span>client<i class="fa fa-caret-down fa-right-sm"></i></span></div>
			<div class="listing-column codes-expiry"><span>Expiry date<i class="fa fa-caret-down fa-right-sm"></i></span></div>
			<div class="listing-column codes-status"><span>status<i class="fa fa-caret-down fa-right-sm"></i></span></div>
		</div>
	</div>
	<ul class="listing-items">
		<li ng-repeat ="client_subscription in subscription.client_subscriptions track by $index" ng-if = "subscription.client_subscriptions.length > 0">
			<div class="wrapper">
				<span class="listing-icon"><i class="fa fa-qrcode"></i></span>
				<div class="listing-column codes-name"><span>{!client_subscription.code!}</span></div>
				<div class="listing-column codes-gendate"><span>{!client_subscription.purchased_date | date : 'medium' !}</span></div>
				<div class="listing-column codes-client"><span>{!client_subscription.user.name | uppercase!}</span></div>
				<div class="listing-column codes-expiry"><span>{!client_subscription.date_expired |  date : 'medium'!}</span></div>
				<div class="listing-column codes-status"><span>{!client_subscription.status!}</span></div>
			</div><!-- wrapper -->
		</li>

		<li ng-if = "subscription.client_subscriptions.length == 0">
			<div class="wrapper">
				<span class="listing-column" >No found data...</span>
				
			</div><!-- wrapper -->
		</li>

		
	</ul>
</div>
		<div id="updateClient" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		     <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Subscription</h4>
	        <p class="modal-description">For the client to update his/her profile.</p>
	      </div>
	      <div class="modal-body">
	      	<h4 class="form-sectitle"><span>Complete Name</span></h4>
	      	<form name="update">
	      	<div class="col-container">

	      		<div class="col4">
	      			<div class="form-group">
						<label for="firstName">Code</label>
						<input type="text" class="form-control"  id="code" ng-model = "subscription.add.code" required>
					</div>
	      		</div>
	      		<div class="col4">
	      			<!-- <div class="form-group">
						<label for="middleName">Middle Name</label>
						<input type="text" class="form-control" id="middleName" ng-model = "user.middle_name">
					</div> -->
	      		</div>
	      		<div class="col4">
	      			<div class="form-group">
						<label for="lastName">Client Name</label>
						<selectize placeholder='Choose Name' options='subscription.users' config="subscription.myConfig" ng-model="subscription.add.client_id" ng-disabled='disable' required='true'></selectize>
					</div>
	      		</div>
	      	</div>
	      	<h4 class="form-sectitle"><span>Birthdate</span></h4>
	      	<div class="col-container">
	      		<div class="col4">
	      			<div class="form-group">
						<label for="birthMonth">Month</label>
						<select class="form-control" id="Monthup" name = "month" ng-class="{'error-field' : errors.birth_date}" >
							<option value="{!$index + 1!}" name="month" ng-repeat="month in months" ng-selected="checkIfSelected($index + 1,customer.birth_date | date:'M')"  >{!month!}</option>

						</select>
					</div>
	      		</div>
	      		<div class="col4">
	      			<div class="form-group">
						<label for="birthDate">Day</label>
						<select class="form-control" id="Dateup" name="day" ng-class="{'error-field' : errors.birth_date}">
							<option value="{!day!}" ng-repeat="day in days"  ng-selected="checkIfSelected(day,customer.birth_date | date:'dd')"  >{!day!}</option>

						</select>
					</div>
	      		</div>
	      		<div class="col4">
	      			<div class="form-group">
						<label for="birthYear">Year</label>
						<select class="form-control" id="Yearup" ng-class="{'error-field' : errors.birth_date}">
							<option value="{!year!}" name="year"  ng-repeat="year in years"  ng-selected="checkIfSelected(year,customer.birth_date | date:'yyyy')">{!year!}</option>
						</select>
					</div>
	      		</div>
	      		<span ng-if="errors.birth_date" class="padded-10 error">{!errors.birth_date !}</span>
	      	</div>
	      	<h4 class="form-sectitle"><span>Other Details</span></h4>
	      	<div class="col-container">
	      		<div class="col4">
	      			<div class="form-group">
						<label for="clientGeneder">Gender</label>
						<select ng-model="customer.gender" class="capitalize" ng-options="gender for gender in genders" ng-class="{'error-field' : errors.gender}" ng-change="checkGender(customer.gender)" required></select>
						<span ng-if="errors.gender" class="error" >{!errors.gender !}</span>
					</div>
	      		</div>
	      		<div class="col8">
	      			<div class="form-group" ng-hide = "true ">
						<label for="codeAllocate">Code Allocate</label>
						<select class="form-control" id="codeAllocate">
							<option value="">13456789</option>
							<option value="">28765434</option>
							<option value="">33456789</option>
							<option value="">44567890</option>
							<option value="">55654332</option>
						</select>
					</div>
	      		</div>
	      	</div>
	      	<h4 class="form-sectitle" ng-hide = "true "><span>Assign Group</span></h4>
	      	<ul class="form-grouplist" ng-hide = "true ">
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check1">
					<label for="check1"><span>Pellentesque Fauci</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check2">
					<label for="check2"><span>Curabitur Eget</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check3">
					<label for="check3"><span>Tristique Senectus</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check4">
					<label for="check4"><span>Pellentesque Fauci</span></label>
				</li>
				<li class="custom-checkbox">
					<input type="checkbox" name="" id="check5">
					<label for="check5"><span>Pellentesque Fauci</span></label>
				</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check6">
	      			<label for="check6"><span>Pellentesque Fauci</span></label>
	      		</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check7">
	      			<label for="check7"><span>Pellentesque Fauci</span></label>
	      		</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check8">
	      			<label for="check8"><span>Pellentesque Fauci</span></label>
	      		</li>
	      		<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check9">
	      			<label for="check9"><span>Pellentesque Fauci</span></label>
	      		</li>
				<li class="custom-checkbox">
	      			<input type="checkbox" name="" id="check10">
	      			<label for="check10"><span>Pellentesque Fauci</span></label>
	      		</li>
	      	</ul>
	      	
	      </div>
	      </form>
	      <div class="modal-footer">
	      	<a href="" class="btn btn-primary" ng-click="updateClientByOwner()">Save</a>
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelByOwner()">Close</button>
	      </div>
	    </div><!-- model-content -->