
<div class="login-container">
	<div class="canvas">
		
		<div class="login-body">
			<h4 class="heading">Change password <span>Re:Me Professional</span> account</h4>
			<div class="alert alert-danger fade in" ng-if="errors.login">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Error!</strong> {! errors.login !}
		    </div>
			<div class="form-group">
				<label for="userName">Email Address</label>
				<input type="text" name="" value ="{!user.email!}"  class="form-control" id="userName"  ng-class="{'error-field' : errors.email}" 
				 />
                <span ng-if="errors.email" class="error">{! errors.email !}</span>
			</div><!-- form-group -->
			<div class="form-group">
				<label for="userPassword">Confirmation Code</label>
				<input type="password" name="" value="" class="form-control" id="userPassword"  ng-class="{'error-field' : errors.password}" ng-model="password" ng-change = "checkPassword(password,'password')">
                <span ng-if="errors.password" class="error">{! errors.password !}</span>	
			</div><!-- form-group -->
			
			<button type="button" class="btn btn-primary login-button" ng-click="submitChangePass()" >Submit</button> 
			<button type="button" class="btn btn-primary login-button" ng-if="sending=='on'">Signing In...</button> 
		</div><!-- login-body -->

	</div><!-- canvas -->
</div><!-- login-container -->