<div class="col-container" ng-init="customer.init()">
	<div class="col3">
		<div class="canvas">
			<div class="personal-information">
				<figure class="customer-picture" style="background-image:url(/images/user-default.png);">
					<img src="/images/user-default.png" alt="">
				</figure>
				<span class="customer-name">{!customer.profile.name!}</span>
				<span class="group-name" >Group:({!customer.profile.group.name!})</span>
			</div>
			<hr class="new1">
			<div class="important-information">
				<h5 class="header-name">Personal Information</h5>
				<span class="column-head">Date of Birth</span>
				<span class="column-def" >{!customer.profile.birth_date | date:'MMM. dd, yyyy'!}</span>
				<span class="column-head">Age</span>
				<span class="column-def" >{!customer.profile.age!}</span>
				<span class="column-head">Gender</span>
				<span class="column-def" >{!customer.profile.gender| uppercase!}</span>
			</div>
			<hr class="new1">
			<div class="important-information">
				<h5 class="header-name">Note(Professional User Comments)</h5>
				<div class="container">
				  <div class="row">
				  <div class="note">
				  		{!customer.profile.note!}
				  </div>
				  		
				  </div>
				</div>
			</div>

			
		</div>
	</div>
	<div class="col9">
		<div class="canvas">
			<div class="listing-container listing-codes iconed">
			<div class="listing-header">
				<div class="wrapper">
					<div class="listing-column journal-column"><span>Duration<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Mood Before<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Mood After<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column-comment"><span>Comment<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Date Created<i class="fa fa-caret-down fa-right-sm"></i></span></div>
				</div>
			</div>

			<ul class="listing-items">
				<li ng-repeat ="journal in customer.all_journal">
					<div class="wrapper">
						<span class="listing-icon"><i class="fa fa-address-book"></i></span>
						<div class="listing-column journal-column"><span>{!journal.session.name !}</span></div>
						<div class="listing-column journal-column"><span>{!journal.mood_before !}</span></div>
						<div class="listing-column journal-column"><span>{!journal.mood_after !}</span></div>
						<div class="listing-column journal-column-comment"><span>{!journal.comment!}</span></div>
						<div class="listing-column journal-column"><span>{!journal.new_date !}</span></div>
					</div><!-- wrapper -->
				</li>
				<li >
					<div class="wrapper loader-head">
						<div class="listing-column client-name loader"></div>
						
					</div><!-- wrapper -->
				</li>
			</ul>
					
		</div>

		</div>
	</div>
</div>