		<div class="page-heading" ng-init = "journal.getAllJournal()";>
			<div class="colleft">
				<div class="canvas">
					<h3 class="searchfilter-title">Search Filter</h3>
					<div class="searchfilter-container">
						<div class="col-container">
							<div class="col12">
								<div class="form-group">
									<label for="">Search</label>
									<input type="text" name="" value="" class="form-control" ng-model="filter_search" id="" placeholder="Enter keyword here..." />
								</div><!-- form-group -->
							</div><!-- col8 -->
						</div><!-- col-container -->
						<div class="col-container">
							<div class="col6">
								<div class="form-group">
									<label for="">Date From</label>
									<input type="date" id="date_from" class="form-control" ng-model = "journal.date_from">
								</div><!-- form-group -->
							</div>
							<div class="col6">
								<div class="form-group">
									<label for="">Date To</label>
									<input type="date" id="date_to" class="form-control" ng-model = "journal.date_to">
								</div><!-- form-group -->
							</div>
						</div><!-- col-container -->
						<div class="col-container">
								<div class="col6">
									<div class="form-group">
										<label for="">Session</label>
										<select class="form-control" ng-model="selected_session">
											<option>--</option>
											<option value="1">Re:Frame</option>
											<option value="2">Re:Fresh</option>
											<option value="3">Re:Juvenate</option>
										</select>
									</div><!-- form-group -->
								</div>
								
							</div><!-- col-container -->
					</div><!-- searchfilter-container -->
				</div><!-- canvas -->
			</div><!-- colleft -->
			<div class="colright">
				<h3 class="page-title">List Of Journal</h3>
				<p class="page-description"></p>
			</div>
		</div>
		<div class="listing-container listing-codes iconed">
			<div class="listing-header">
				<div class="wrapper">
					<div class="listing-column codes-name"><span>Client Name<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Session<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Mood Before<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Mood After<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Comment<i class="fa fa-caret-down fa-right-sm"></i></span></div>
					<div class="listing-column journal-column"><span>Date Created<i class="fa fa-caret-down fa-right-sm"></i></span></div>
				</div>
			</div>

			<ul class="listing-items">
				<li ng-repeat ="journal in journal.all_journal | filter: {'name' : filter_search} | filter:{'selected_session':selected_session} | filter:journal.filterFnDate">
					<div class="wrapper">
						<span class="listing-icon"><i class="fa fa-address-book"></i></span>
						<div class="listing-column codes-name" style="text-transform: uppercase;"><span>{!journal.user.name!}</span></div>
						<div class="listing-column journal-column"><span>{!journal.session.name !}</span></div>
						<div class="listing-column journal-column"><span>{!journal.mood_before !}</span></div>
						<div class="listing-column journal-column"><span>{!journal.mood_after !}</span></div>
						<div class="listing-column journal-column"><span>{!journal.comment!}</span></div>
						<div class="listing-column journal-column"><span>{!journal.new_date !}</span></div>
					</div><!-- wrapper -->
				</li>
				<li >
					<div class="wrapper loader-head">
						<div class="listing-column client-name loader"></div>
						
					</div><!-- wrapper -->
				</li>

				
			</ul>
					
		</div>

	  </div>
	</div>