<!DOCTYPE html>
<html lang="en" ng-app ="reme">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Re:Me</title>
    <link rel="stylesheet" href="/css/selectize.css">
    <link href="/css/styles.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>
  <body ng-controller = "appController" ng-init="getClientList()">
  	<div class="sidebar" >
  		<div class="sidebar-header">
  			<div class="wrapper">
	  			<a href="" class="logo-image"><img src="/images/logo_dark.png" alt="" /></a>
				<span class="logo-name">Re:Me<span>Professional</span></span>
			</div>
  			<a href="" class="sidebar-toggle" onClick="maxminSidebar(event)"><i class="fa fa-angle-double-right"></i></a>
  		</div><!-- sidebar-header -->
  		<ul class="sidebar-menu">
  			<li ng-if ="user.role == 'professional'">
  				<a ui-sref="clients"  class="detailed" data-tooltip="Clients" ng-class="{'active' : $state.current.name == 'clients' }">
  					<span class="menu-icon"><i class="fa fa-users"></i></span>
  					<span class="menu-label">Clients</span>
  					<span class="menu-detail">30 Active Clients</span>
				</a>
			</li>
  			<li ng-if ="user.role == 'professional'">
  				<a ui-sref="archive" data-tooltip="Archive Discharge">
  					<span class="menu-icon"><i class="fa fa-archive"></i></span>
  					<span class="menu-label">Archive Discharge</span>
				</a>
			</li>

  			<li ng-if ="user.role == 'professional'">
  				<a ui-sref="codes" data-tooltip="Activation Codes" ng-class="{'active' : $state.current.name == 'codes' }">
  					<span class="menu-icon"><i class="fa fa-qrcode"></i></span>
  					<span class="menu-label">Activation Codes</span>
				</a>
			</li>

			<li ng-if ="user.role == 'professional'">
  				<a ui-sref="journals" data-tooltip="Journals" ng-class="{'active' : $state.current.name == 'journals' }">
  					<span class="menu-icon"><i class="fa fa-address-book"></i></span>
  					<span class="menu-label">Journals</span>
				</a>
			</li>

			<li ng-if ="user.role == 'admin'">
  				<a ui-sref="music" data-tooltip="List of Music" ng-class="{'active' : $state.current.name == 'music' }">
  					<span class="menu-icon"><i class="fa fa-music"></i></span>
  					<span class="menu-label">Music</span>
				</a>
			</li>
			<li ng-if ="user.role == 'admin'">
  				<a ui-sref="language" data-tooltip="List of Language" ng-class="{'active' : $state.current.name == 'language' }">
  					<span class="menu-icon"><i class="fa fa-book"></i></span>
  					<span class="menu-label">Language</span>
				</a>
			</li>

			<li ng-if ="user.role == 'admin'">
  				<a ui-sref="audio" data-tooltip="List of Audio" ng-class="{'active' : $state.current.name == 'audio' }">

  					<span class="menu-icon"><i class="fa fa-music"></i></span>
  					<span class="menu-label">Audio</span>
				</a>
			</li>
  		</ul>
  	</div><!-- sidebar -->
	<header>
		<div class="wrapper">
			<div class="header-logo">
				<a href="" class="logo-image"><img src="/images/logo.png" alt="" /></a>
				<span class="logo-name">Re:Me</span>
				<span class="logo-description">Therapeutically Designed Music<br/>&amp; Multilingual Spoken Word Guided Interventions</span>
			</div>
			<div class="header-notifier">
				<ul>
					<li><a href="" class="updates new"><i class="fa fa-globe"></i></a></li>
					<li><a href="" class="messages new"><i class="fa fa-comments"></i></a></li>
				</ul>
			</div>
			<div class="header-search">
				<span class="icon"><i class="fa fa-search"></i></span>
				<input type="text" name="" value="" placeholder="Enter keyword to search...">
			</div>
			<div class="header-user">
				<span class="name">{!user.name | uppercase!}</span>
				<figure class="profilepic" style="background-image:url(/images/user-default.png);">
					<img src="/images/user-default.png" alt="" />
				</figure>
				<div class="menu dropdown">
					<a href="" data-toggle="dropdown"><i class="fa fa-list-ul"></i></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a ui-sref="profile">Profile</a></li>
						<li ng-if= "user.role != 'customer'"><a href="/clients">Clients</a></li>
						<li><a ui-sref="change-password">Change Password</a></li>
						<li><a href="">Settings</a></li>
						<li><a href="" ng-click="logout()">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="breadcrumbs">
		<ul class="breadcrumbs-list">
			<li>home<i class="fa fa-angle-right"></i></li>
			<li>clients</li>
		</ul>
	</div>
	<div class="content">
		<ui-view></ui-view>
	</div>
	<footer>
		<div class="footer-wrapper">
			<p class="footer-copyright">Copyright © 2017 Re:Me All rights reserved. <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></p>
			<p class="footer-made">Hand-crafted &amp; made with Love.</p>
		</div>
	</footer>

	<script type="text/javascript" src="/js/scripts.min.js"></script>
	<script src="/js/angular/third_party/selectize.min.js"></script>
	<script src="/js/angular/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.3/angular-ui-router.min.js"></script>
	<script src="/js/angular/directives/angular-selectize.js"></script>
	<script src="/js/angular/client.app.js"></script>
	<script src="/js/angular/controllers/client_controller.js"></script>
	<script src="/js/angular/services/client_services.js"></script>
  </body>
</html>